@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #4793aa;
}
 
/* Handle */
::-webkit-scrollbar-thumb { 
    background: #33758a;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #012733;
}

.small-scrollbar::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
    height: 5px; /* Height of the scrollbar (for horizontal scrollbar) */
}

.small-scrollbar::-webkit-scrollbar-thumb{
    width: 3px; /* Width of the scrollbar */
    border-radius: 5px; /* Rounded corners of the scrollbar thumb */
    background-color: #669edf; /* Color of the scrollbar thumb */
}

.small-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #01413b; /* Color when hovering over the scrollbar thumb */
}

.small-scrollbar::-webkit-scrollbar-track {
    background-color: rgba(136, 134, 134, 0.281);
}

/* medium scrollback */
.medium-scrollbar::-webkit-scrollbar {
    width: 7px; /* Width of the scrollbar */
    height: 7px; /* Height of the scrollbar (for horizontal scrollbar) */
}

.medium-scrollbar::-webkit-scrollbar-thumb{
    background-color: #a87ca8; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners of the scrollbar thumb */
}

.medium-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a32488; /* Color when hovering over the scrollbar thumb */
}

.medium-scrollbar::-webkit-scrollbar-track {
    background-color: #ebe1e1 /* Color of the scrollbar track */
}


