@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #c4b9b9;
}
 
/* Handle */
::-webkit-scrollbar-thumb { 
    background: #139e9e;
    height: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.small-scrollbar::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 5px; /* Height of the scrollbar (for horizontal scrollbar) */
}

.small-scrollbar::-webkit-scrollbar-thumb{
    background-color: #932ba8; /* Color of the scrollbar thumb */
}

.small-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #142880; /* Color when hovering over the scrollbar thumb */
}

.small-scrollbar::-webkit-scrollbar-track {
    background-color: #96c7c1 /* Color of the scrollbar track */
}

/* medium scrollback */
.medium-scrollbar::-webkit-scrollbar {
    width: 7px; /* Width of the scrollbar */
    height: 7px; /* Height of the scrollbar (for horizontal scrollbar) */
}

.medium-scrollbar::-webkit-scrollbar-thumb{
    background-color: #a87ca8; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners of the scrollbar thumb */
}

.medium-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a32488; /* Color when hovering over the scrollbar thumb */
}

.medium-scrollbar::-webkit-scrollbar-track {
    background-color: #ebe1e1 /* Color of the scrollbar track */
}


